Search start_date property does not support single-value for datetime

The `datetime` attribute of a search request [is defined](https://github.com/radiantearth/stac-api-spec/tree/main/item-search#query-parameter-table) to be an exact datetime, or a range with possible open ends on either side:

> Parameter | Type | Source API | Description
> -- | -- | -- | --
> ...
> datetime | string | OAFeat | Single date+time, or a range ('/' separator), formatted to [RFC 3339, section 5.6](https://tools.ietf.org/html/rfc3339#section-5.6). Use double dots `..` for open date ranges.
> ...

But today, the `start_date` and `end_date` properties are implemented as:

https://github.com/stac-utils/stac-pydantic/blob/79248a2ecac2eff8490dc7ca15131336a16f24f9/stac_pydantic/api/search.py#L46-L62

This implies that for a single value, `start_date` is left empty and only `end_date` is set:

|        datetime           |    start_date    |     end_date     |
| ------------------------- | ---------------- | ---------------- |
| `2012-07-02T00:00:00Z`    | None             | 2012-07-02 00:00 |
| `2012-07-02T00:00:00Z/..` | 2012-07-02 00:00 | None             |
| `../2012-07-03T23:59:59Z` | None             | 2012-07-03 00:00 |

I very much assume for a single `datetime` (the first case above) both `start_date` and `end_date` should be set to the same value?

(I can submit a PR if this is indeed a bug. It's just line 50 that should be changed from `return None` into `return parse_rfc3339(values[0])`. EDIT: also `def validate_datetime` would need a fix; see below.)

@jonhealy1 I see your 👍 but now I also ran into this:

https://github.com/stac-utils/stac-pydantic/blob/main/stac_pydantic/api/search.py#L103-L110

```
else:
    # Single date is interpreted as end date
    values = ["..", v]
```

So, its implementation seems quite specific. Also in the follwing PR the same behavior is kept, but maybe that's unintentional:

https://github.com/stac-utils/stac-pydantic/pull/135/files#diff-cedfbbe7e0d06171e4f3cdfab0c02e1712111610dc9419080077b4d15a1c3d85R109-R111

note, this is the same issue as https://github.com/stac-utils/stac-pydantic/issues/145

> note, this is the same issue as #145

@vincentsarago I guess you wanted to link to #79? My bad for not finding that. 🙈 

😅 